.chat {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content auto;
}

.rooms {
    min-width: 100px;
    height: 100%;
    box-shadow: 0 5px 30px var(--color-shadow);
    background-color: var(--color-1);
    z-index: 3;
}


.roomButton {
    width: 100%;
    padding: 10px 0;

    background: var(--color-0); //#0f0f11d9;
    color: #fff;
    text-align: center;
    font-family: Ubuntu, 'Helvetica Neue', 'Open Sans', sans-serif;
    border: none;

    --color: #560bad;
    display: inline-block;
    line-height: 2.5em;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    // border: 2px solid #fff;
    border-radius: 6px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background: linear-gradient(45deg, #610000, #ef9f00);
        // background: var(--color);
        width: 250px;
        height: 200px;
        z-index: -1;
        border-radius: 50%;
    }

    &:hover {
        color: white;
    }

    &:before {
        top: 100%;
        left: 100%;
        transition: .3s all;
    }

    &:hover::before {
        top: -100px;
        left: -70px;
    }
}

.buttonCreate {
    width: 200px;
    height: 100%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

    .roomButton{
        background: var(--color-1)
    }
}

/*--------------------
  Chat
  --------------------*/
.app-chat {
    height: 100%;

    font-family: Ubuntu, 'Helvetica Neue', 'Open Sans', sans-serif;
    z-index: 2;
    overflow: hidden;
    background: var(--color-2);
    // background: linear-gradient(45deg, #610000 0%, #ef9f00 100%);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}