/*--------------------
  Chat Title
  --------------------*/
.chat-title {
    width: 100%;
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: var(--color-0);//#0f0f11d9;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: -2px;
    padding: 10px 10px 10px 50px;
    font-family: Ubuntu, 'Helvetica Neue', 'Open Sans', sans-serif;
    border: none;
    
    &:hover{
        background-color: var(--color-2);
    }

    h1,
    h2 {
        font-weight: normal;
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    h2 {
        color: rgba(255, 255, 255, .5);
        font-size: 8px;
        letter-spacing: 1px;
    }

    .avatar {
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 9px;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: #0f0f1179;
        // border: 2px solid #610000;//rgba(255, 255, 255, 0.24);

        img {
            width: 100%;
            height: auto;
        }
    }
}